.wrapper{
    width: 100%;
    height: 5700px;
    left: 0;
    top: 0;
    background-color: #0484c4;
    position:absolute;
}

.mao{
    top: 0px;
    right: 0;
    position: absolute;
    width: 100%;
}

#onu{
    position: absolute;
    width: 140px;
    height: 85px;
    left: 20px;
    top: 40px;
}

.ods16{
    top: 594px;
    width: 100%;
    position: absolute;
}

.titulo{
    position: absolute;
    width: 952px;
    height: 320px;
    left: 20%;
    top: 50px;
    font-family: 'Fraunces';
    font-size: 160px;
    line-height: 50px;
    text-align: center;
    color: #2b52d3;    
}

.ods-16{
    position: absolute;
    width: 618px;
    height: 60px;
    left: 11%;
    top: 19px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #261f85;
}

.barra1{
    position: absolute;
    width: 864px;
    height: 12px;
    left: -24px;
    top: 800px;
    background: #FFFFFF;
}

.texto1{
    position: absolute;
    width: 850px;
    left: -24px;
    top: 850px;
    font-weight: 1000;
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 37px;
    text-indent: 20px;
    color: #FFFFFF;
}

.video{
    position: absolute;
    left: 100px;
    top: 63px;

}

.barra2{
    position: absolute;
    width: 864px;
    height: 12px;
    left: -24px;
    top: 1250px;
    background: #FFFFFF;
}

.texto2{
    position: absolute;
    width: 850px;
    left: -20px;
    top: 1270px;
    font-weight: 1000;
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 37px;
    text-indent: 20px;
    color: #FFFFFF;
}

.img1{
    width: 65%;
    height: 450px;
    top: 1350px;
    left: -250px;
    position: absolute;
    border-radius: 9%;
}

.texto3{
    position: absolute;
    width: 650px;
    left: 380px;
    top: 1350px;
    font-weight: 1000;
    font-family: 'Montserrat';
    font-size: 50px;
    line-height: 37px;
    text-indent: 20px;
    color: #FFFFFF;
}

.img2{
    width: 65%;
    height: 450px;
    top: 1880px;
    left: 430px;
    position: absolute;
    border-radius: 9%;
}

.texto4{
    position: absolute;
    width: 650px;
    left: -267px;
    top: 1915px;
    font-weight: 1000;
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 37px;
    text-indent: 20px;
    color: #FFFFFF;
}

.barra3{
    position: absolute;
    width: 864px;
    height: 12px;
    left: -24px;
    top: 2390px;
    background: #FFFFFF;
}

.texto5{
    position: absolute;
    width: 670px;
    left: 60px;
    top: 2440px;
    font-weight: 1000;
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 37px;
    text-indent: 20px;
    color: #FFFFFF;
}

.barra4{
    position: absolute;
    width: 864px;
    height: 12px;
    left: -24px;
    top: 3590px;
    background: #FFFFFF;
}

.texto6{
    position: absolute;
    width: 670px;
    left: 60px;
    top: 3640px;
    font-weight: 1000;
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 37px;
    text-indent: 20px;
    color: #FFFFFF;
}


.rodape{
    width: 1400px;
    height: 300px;
    top: 5500px;
    left: -320px;
    background-color: #00689c;
    position: absolute;
}

#onu2{
    position: absolute;
    width: 140px;
    height: 115px;
    left: 20px;
    top: 50px;
}

.texto7{
    position: absolute;
    width: 670px;
    left: 0px;
    top: 100px;
    font-weight: 1000;
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 37px;
    text-indent: 20px;
    color: #FFFFFF;
}

.texto8{
    position: absolute;
    width: 670px;
    left: -30px;
    top: 208px;
    font-weight: 1000;
    font-family: 'Montserrat';
    font-size: 30px;
    line-height: 37px;
    text-indent: 20px;
    color: #ffffff;
}

#icon1{
    position: absolute;
    height: 60px;
    left: 780px;
    top: 5700px;
}

#icon1:active{
    transform: scale(0.9);
}

#icon2{
    position: absolute;
    height: 60px;
    left: 700px;
    top: 5700px;
}

#icon2:active{
    transform: scale(0.9);
}

#icon3{
    position: absolute;
    height: 60px;
    left: 880px;
    top: 5700px;
}

#icon3:active{
    transform: scale(0.9);
}

#icon4{
    position: absolute;
    height: 70px;
    left: 976px;
    top: 5695px;
}

#icon3:active{
    transform: scale(0.9);
}
